{% extends 'Main/base.html' %}

{% block contenido %}
    <div class="card">
    <div class="card-header">
        <h2>{{ accion }} {{ form.form_title }}</h2>
    </div>

    <div class="card-body card-padding">
        <p class="c-black f-500">por favor, complete el formulario para {{ accion }} uno/a {{ form.form_title }}</p>
        {% include 'Main/forms/form.html' %}
    </div>

</div>
    {% load staticfiles %}
    <script src="{% static 'smart-selects/admin/js/chainedfk.js' %}"></script>
{% endblock %}