{% if error %}
    <p>por favor complete los campos marcados en <strong style="color: red">rojo!</strong></p>
{% endif %}
{% load widget_tweaks %}
<form method="POST">{% csrf_token %}
    <strong style="color: orangered">
        {{ form.non_field_errors }}
    </strong>
    {% for field in form %}
        {{ field.label }}
        {% if field.errors %}
            <div class="form-group has-error">
                <div class="fg-line">
                    {% render_field field class="form-control" %}
                </div>
                <div style="color: orangered">
                    <strong>{{ field.errors }}</strong>
                </div>
            </div>
        {% elif field.value != None %}
            <div class="form-group has-success">
                <div class="fg-line">
                    {% render_field field class="form-control" %}
                </div>
            </div>
        {% else %}
            <div class="form-group">
                <div class="fg-line">
                    {% if field.label == 'Fecha configuracion' or field.label == 'Fecha' %}
                        {% render_field field class="form-control date-picker" %}
                    {% elif field.label == 'Hora' %}
                        {% render_field field class="form-control time-picker" %}
                    {% else %}
                        {% render_field field class="form-control" %}
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <script>
        function goBack() {
        window.history.back();
    }
    </script>
    <button onclick="goBack()" class="btn bgm-cyan waves-effect">
        <i class="zmdi zmdi-chevron-left zmdi-hc-fw"></i> Volver
    </button>
    <button type="submit" class="btn bgm-lightgreen waves-effect pull-right">
        Guardar <i class="zmdi zmdi-plus zmdi-hc-fw"></i>
    </button>
</form>