{% extends 'Main/base.html' %}

{% block contenido %}

    <div class="card">
        <div class="card-header">
            <h2>
                Lista de tipos de producto
            </h2>
        </div>

        <div class="table-responsive">
            <table id="data-table-basic" class="table table-striped">
                <thead>
                <tr>
                    <th>Serial</th>
                    <th>Tipo</th>
                    <th>Referencia del Producto</th>
                    <th>Departamento</th>
                    <th>Usuario encargado</th>
                    <th>Fecha de configuracion</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for elemento in elementos %}
                    <tr>
                        <td>{{ elemento.serial }}</td>
                        <td>{{ elemento.tipo }}</td>
                        <td>{{ elemento.producto.descripcion }} </td>
                        <td>{{ elemento.departamento }}</td>
                        <td>{{ elemento.usuario }}</td>
                        <td>{{ elemento.fecha_configuracion }}</td>
                        <td>
                            <a href="{% url 'soporte:incidentes_objeto' elemento.id %}"
                               class="btn bgm-teal waves-effect">
                                ver incidentes <i class="zmdi zmdi-eye"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

    <a href="{% url 'ajustes:nuevo_elemento' %}"
       class="btn btn-float btn-success m-btn waves-effect waves-circle waves-float">
        <i class="zmdi zmdi-plus"></i>
    </a>

    {% if is_paginated %}
        {% include 'Main/paginator.html' %}
    {% endif %}

{% endblock %}