{% extends 'Main/base.html' %}

{% block contenido %}

    <div class="card">
        <div class="card-header">
            <h2>
                Lista de productos
                {% if proveedor %}
                    del proveedor <span style="color: black">{{ proveedor_data.nombre }}</span>
                {% endif %}
            </h2>
        </div>

        <div class="table-responsive">
            <table id="data-table-basic" class="table table-striped">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Tipo</th>
                    <th>Proveedor</th>
                    <th>Marca</th>
                    <th>Descripcion</th>
                </tr>
                </thead>
                <tbody>
                {% for elemento in productos %}
                    <tr>
                        <td>{{ elemento.id }}</td>
                        <td>{{ elemento.tipo }}</td>
                        <td>{{ elemento.proveedor }} </td>
                        <td>{{ elemento.marca }}</td>
                        <td>{{ elemento.descripcion }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

    <a href="{% url 'ajustes:nuevo_producto' %}"
       class="btn btn-float btn-success m-btn waves-effect waves-circle waves-float">
        <i class="zmdi zmdi-plus"></i>
    </a>

    {% if is_paginated %}
        {% include 'Main/paginator.html' %}
    {% endif %}

{% endblock %}