{% load staticfiles %}
<!doctype html>
<html lang="es">
    <!--[if IE 9 ]><html class="ie9"><![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>.:Service Desk:. - Login</title>
        
        <!-- Vendor CSS -->
        <link href="{% static 'vendors/bower_components/animate.css/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css' %}" rel="stylesheet">
            
        <!-- CSS -->
        <link href="{% static 'css/app.min.1.css' %}" rel="stylesheet">
        <link href="{% static 'css/app.min.2.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/personal.css' %}">
    </head>
    
    <body class="login-content">
        <!-- Login -->
        <div class="lc-block toggled" id="l-login">

            {% if error %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    Error,{{ msj }}
                </div>
            {% endif %}

            <form method="POST">{% csrf_token %}
                <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                <div class="fg-line">
                    <input type="text" class="form-control" placeholder="Usuario" name="username">
                </div>
            </div>

            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                <div class="fg-line">
                    <input type="password" class="form-control" placeholder="Contraseña" name="password">
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    <i class="input-helper"></i>
                    Recordar
                </label>
            </div>
            <button class="btn btn-login btn-danger btn-float flotante"><i class="zmdi zmdi-arrow-forward"></i></button>
            </form>

        </div>

        
        <!-- Javascript Libraries -->
        <script src="{% static 'vendors/bower_components/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'vendors/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'vendors/bower_components/Waves/dist/waves.min.js' %}"></script>
        <script src="{% static 'js/functions.js' %}"></script>
        
    </body>
</html>
