{% load staticfiles %}
<!doctype html>
<html lang="en">
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>.:Service Desk:. - Dashboard</title>
    <script src="{% static 'vendors/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <!-- Vendor CSS -->
    <link href="{% static 'vendors/bower_components/animate.css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css' %}"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'vendors/bower_components/mediaelement/build/mediaelementplayer.css' %}">
    <link rel="stylesheet"
          href="{% static 'vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}">
    <link href="{% static 'vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css' %}"
          rel="stylesheet">


    <!-- CSS -->
    <link href="{% static 'css/app.min.1.css' %}" rel="stylesheet">
    <link href="{% static 'css/app.min.2.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/personal.css' %}">
</head>
<body>
<header id="header" class="clearfix" data-current-skin="cyan">
    <ul class="header-inner">
        <li id="menu-trigger" data-trigger="#sidebar">
            <div class="line-wrap">
                <div class="line top"></div>
                <div class="line center"></div>
                <div class="line bottom"></div>
            </div>
        </li>

        <li class="logo hidden-xs">
            <a href="">
                .: Service Desk :.
                <strong>
                        Unilibre <i class="top-icon zmdi zmdi-key zmdi-hc-fw"></i>
                </strong>

            </a>
        </li>

        <li class="pull-right">
            <ul class="top-menu">
                <li id="toggle-width">
                    <div class="toggle-switch">
                        <input id="tw-switch" type="checkbox" hidden="hidden">
                        <label for="tw-switch" class="ts-helper"></label>
                    </div>
                </li>

                {% if buscador %}
                    <li id="top-search">
                        <a href=""><i class="tm-icon zmdi zmdi-search"></i></a>
                    </li>
                {% endif %}

                {% if user.empleado %}
                    <li class="dropdown">
                        <a href="{% url 'empleado:notificaciones' %}" aria-expanded="false">
                            <i class="tm-icon zmdi zmdi-notifications"></i>
                            <i class="tmn-counts"
                               {% if user.empleado.notificaciones == 0 %}
                                    style="background-color:#00c5c1"
                               {% else %}
                                    style="background-color:#4dc55c"
                               {% endif %}>
                                {{ user.empleado.notificaciones }}
                            </i>

                        </a>
                    </li>
                {% endif %}

                <li class="dropdown">
                    <a data-toggle="dropdown" href=""><i class="tm-icon zmdi zmdi-more-vert"></i></a>
                    <ul class="dropdown-menu dm-icon pull-right">

                        <li class="hidden-xs">
                            <a data-action="fullscreen" href=""><i class="zmdi zmdi-fullscreen"></i> Activar Pantalla
                                Completa</a>
                        </li>
                        <li>
                            <a href="{% url 'admin:index' %}"><i class="zmdi zmdi-settings-square"></i> Ajustes</a>
                        </li>
                        <li class="divider hidden-xs"></li>
                        <li>
                            <a href="{% url 'salir' %}"><i class="zmdi zmdi-square-right"></i> Salir</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>

    {% if buscador %}
        <!-- Top Search Content -->
        <div id="top-search-wrap">
            <div class="tsw-inner">
                <i id="top-search-close" class="zmdi zmdi-arrow-left"></i>
                <!--<input type="text"/> -->
            </div>
        </div>
    {% endif %}

</header>

<section id="main">

    {% include 'Main/sidebar_menu.html' %}

    <section id="content">
        <div class="container">
            <div class="block-header">


                {% block boton_flotante %}{% endblock boton_flotante %}


                <ul class="actions">
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown">
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href=""><i class="zmdi zmdi-refresh zmdi-hc-fw"></i> Recargar</a>
                            </li>
                            <li>
                                <a href=""> <i class="zmdi zmdi-bug zmdi-hc-fw"></i> Reportar un bug</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>


            {% block contenido %}
            {% endblock %}


        </div>
    </section>
</section>

<footer id="footer">
    Copyright &copy; 2016 <strong>Oswaldo Rodriguez</strong>
</footer>

<!-- Page Loader -->
<div class="page-loader">
    <div class="preloader pls-teal">
        <svg class="pl-circular" viewBox="25 25 50 50">
            <circle class="plc-path" cx="50" cy="50" r="20"></circle>
        </svg>
        <strong>cargando...</strong>
    </div>
</div>


<!-- Javascript Libraries -->
<script src="{% static 'vendors/bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'vendors/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

<script src="{% static 'vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'vendors/bower_components/Waves/dist/waves.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap-growl/bootstrap-growl.min.js' %}"></script>
<script src="{% static 'vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js' %}"></script>

<script src="{% static 'vendors/bower_components/moment/min/moment.min.js' %}"></script>
<script src="{% static 'vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.js' %}"></script>
<script src="{% static 'vendors/bower_components/nouislider/distribute/jquery.nouislider.all.min.js' %}"></script>
<script src="{% static 'vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'vendors/bower_components/typeahead.js/dist/typeahead.bundle.min.js' %}"></script>
<script src="{% static 'vendors/summernote/dist/summernote-updated.min.js' %}"></script>

<script src="{% static 'vendors/bower_components/chosen/chosen.jquery.min.js' %}"></script>
<script src="{% static 'vendors/fileinput/fileinput.min.js' %}"></script>
<script src="{% static 'vendors/input-mask/input-mask.min.js' %}"></script>
<script src="{% static 'vendors/farbtastic/farbtastic.min.js' %}"></script>
<script src="{% static 'js/jquery.flot.tooltip.min.js' %}"></script>

<script src="{% static 'js/functions.js' %}"></script>

{% block scripts %}{% endblock %}

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
    $('[onshow="tooltip"]').tooltip();
});
</script>


</body>
</html>
