<div class="row">
    <div class="col-md-4 col-md-offset-5">
        <ul class="pagination center-block">
            {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <i class="zmdi zmdi-chevron-left"></i>
                    </a>
                </li>
            {% endif %}
            <li class="active ">
                <a href="">{{ page_obj.number }}/{{ page_obj.paginator.num_pages }}</a></li>
            <li>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <i class="zmdi zmdi-chevron-right"></i>
                    </a>
                {% endif %}
            </li>
        </ul>
    </div>
</div>