{% load staticfiles %}
<aside id="sidebar" class="sidebar c-overflow">
    <div class="profile-menu">
        <a href="">
            <div class="profile-pic">
                 <img src="{% static 'img/profile-pics/4.jpg' %}" alt="">
            </div>

            <div class="profile-info">
                {{ user.first_name }} {{ user.last_name }}
                <i class="zmdi zmdi-caret-down"></i>
            </div>
        </a>
        {% if user.is_superuser %}
        <ul class="main-menu">
            <li>
                <a href="{% url 'admin:index' %}" target="_blank"><i class="zmdi zmdi-settings"></i> Administracion</a>
            </li>
            <li>
                <a href="{% url 'salir' %}"><i class="zmdi zmdi-time-restore"></i> Salir</a>
            </li>
        </ul>
        {% endif %}
    </div>

    <ul class="main-menu">
        {% if user.is_superuser %}
            <li>
                <a href="{% url 'ajustes:inicio' %}">
                    <i class="zmdi zmdi-home"></i> Inicio
                </a>
            </li>
            {% include 'Main/menu/administrador.html' %}
        {% else %}
            {% include 'Main/menu/empleado.html' %}
        {% endif %}
    </ul>

</aside>