/*
.flotante {
    background-color: #F1F436;
}

.btn-danger:hover:hover {
    background-color: #97F243;
} */

small {
    font-size: 1.1em;
    font-weight: bold;
}

.usuario {
    color: #006f7d;
}


[data-current-skin="cyan"] {
  background-color: #C3332F;
}

[data-current-skin="cyan"] .ss-icon {
  color: #C3332F;
}

@media (max-width: 767px) {
  [data-current-skin="cyan"] .ha-menu {
    background: #C3332F;
  }
}


body.login-content:before {
    background: #C3332F;
}

.top-icon {

}

