<li class="sub-menu">
    <a>
        <i class="zmdi zmdi-nature-people zmdi-hc-fw"></i>
        Empleados
    </a>

    <ul>
        <li>
            <a href="{% url 'empleado:crear_usuario' %}">
                <i class="zmdi zmdi-globe-lock zmdi-hc-fw"></i> Crear Empleado
            </a>
        </li>
        <li>
            <a href="{% url 'empleado:usuarios' %}">
                <i class="zmdi zmdi-globe-lock zmdi-hc-fw"></i> Lista de empleados

            </a>
        </li>
    </ul>
</li>


<li class="sub-menu">
    <a>
        <i class="zmdi  zmdi-satellite zmdi-hc-fw"></i>
        Marcas Proveedores
    </a>

    <ul>
        <li>
            <a href="{% url 'soporte:crear_proveedor' %}">
                <i class="zmdi zmdi-globe-lock zmdi-hc-fw"></i> Crear proveedor
            </a>
        </li>
        <li>
            <a href="{% url 'soporte:proveedores' %}">
                <i class="zmdi zmdi-globe-lock zmdi-hc-fw"></i> Lista de proveedores
            </a>
        </li>
        <li>
            <a href="{% url 'soporte:crear_marca' %}">
                <i class="zmdi zmdi-globe-lock zmdi-hc-fw"></i> Crear Marca
            </a>
        </li>
        <li>
            <a href="{% url 'soporte:marcas' %}">
                <i class="zmdi zmdi-globe-lock zmdi-hc-fw"></i> Lista de Marcas
            </a>
        </li>
        <li>
            <a href="{% url 'soporte:proveedor_marca' %}">
                <i class="zmdi zmdi-globe-lock zmdi-hc-fw"></i> proveedor marca
            </a>
        </li>
    </ul>
</li>

<li class="sub-menu">
    <a>
        <i class="zmdi  zmdi-puzzle-piece zmdi-hc-fw"></i>
        Productos
    </a>

    <ul>
        <li>
            <a href="{% url 'ajustes:productos' %}">
                <i class="zmdi zmdi-globe-lock zmdi-hc-fw"></i> Lista de productos
            </a>
        </li>
        <li>
            <a href="{% url 'ajustes:nuevo_producto' %}">
                <i class="zmdi zmdi-globe-lock zmdi-hc-fw"></i> Crear Producto
            </a>
        </li>
    </ul>
</li>


<li class="sub-menu">
    <a>
        <i class="zmdi  zmdi-dns zmdi-hc-fw"></i>
        Ayuda Y Soporte
    </a>

    <ul>
        <li>
            <a href="{% url 'ajustes:elementos' %}">
                <i class="zmdi zmdi-globe-lock zmdi-hc-fw"></i> Elementos de Configuracion
            </a>
        </li>
        <li>
            <a href="{% url 'soporte:incidentes' %}">
                <i class="zmdi zmdi-globe-lock zmdi-hc-fw"></i> Incidentes
            </a>
        </li>
    </ul>
</li>



