<li>
    <a href="{% url 'empleado:incidentes' %}">
        <i class="zmdi  zmdi-home zmdi-hc-fw"></i>
        Inicio
    </a>
</li>

<li>
    <a href="{% url 'empleado:crear_incidente' %}">
        <i class="zmdi  zmdi-dns zmdi-hc-fw"></i>
        Registrar Incidente
    </a>
</li>

<li class="sub-menu">
    <a>
        <i class="zmdi  zmdi-dns zmdi-hc-fw"></i>
        Historico
    </a>
    <ul>
        <li>
            <a href="{% url 'empleado:incidentes_usuario' %}">
                <i class="zmdi zmdi-globe-lock zmdi-hc-fw"></i> Todos los incidentes
            </a>
        </li>
        <li>
            <a href="{% url 'empleado:ver_incidentes_solucionados' %}">
                <i class="zmdi zmdi-globe-lock zmdi-hc-fw"></i> Incidentes Solucionados
            </a>
        </li>
        <li>
            <a href="{% url 'empleado:ver_incidentes_no_solucionados' %}">
                <i class="zmdi zmdi-globe-lock zmdi-hc-fw"></i> Incidentes Sin Solucionar
            </a>
        </li>
    </ul>
</li>
