{% extends 'Main/base.html' %}

{% block contenido %}

    <div class="card">
        <div class="card-header">
            <h2>
                Lista de Empleados
            </h2>
        </div>

        <div class="table-responsive">
            <table id="data-table-basic" class="table table-striped">
                <thead>
                <tr>
                    <th class="text-center">
                        id
                    </th>
                    <th class="text-center">
                        usuario
                    </th>
                    <th class="text-center">
                        nombre y apellidos
                    </th>
                    <th class="text-center">
                        departamento
                    </th>
                    <th class="text-center">
                        cargo
                    </th>
                    <th class="text-center">
                        Correo
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for elemento in usuarios %}
                    <tr>
                        <td class="text-center">{{ elemento.id }}</td>
                        <td class="text-center">{{ elemento.username }}</td>
                        <td class="text-center">{{ elemento.first_name }} {{ elemento.last_name }}</td>
                        <td class="text-center">{{ elemento.departamento }}</td>
                        <th class="text-center">{{ elemento.cargo }}</th>
                        <th class="text-center">{{ elemento.email }}</th>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

    <a href="{% url 'empleado:crear_usuario' %}"
       class="btn btn-float btn-success m-btn waves-effect waves-circle waves-float">
        <i class="zmdi zmdi-plus"></i>
    </a>

    {% if is_paginated %}
        {% include 'Main/paginator.html' %}
    {% endif %}

{% endblock %}