{% extends 'Main/base.html' %}

{% block contenido %}

    <div class="card">
        <div class="card-header">
            <h2 class="text-center">
                {% if notificaciones.count > 0 %}
                    Echale un vistazo a tus notificaciones
                    usted tiene {{ notificaciones.count }} notificaciones sin revisar
                {% else %}
                    usted no tiene notificaciones pendientes
                {% endif %}
            </h2>
        </div>

        <div class="table-responsive">
            <table id="data-table-basic" class="table table-striped">
                <thead>
                <tr>
                    <th class="text-center">
                        incidente
                    </th>
                    <th class="text-center">
                        solucion
                    </th>
                    <th class="text-center">Hora</th>
                    <th class="text-center">Fecha</th>
                    <th class="text-center">
                        visto
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for elemento in notificaciones %}
                    <tr>
                        <td class="text-center">{{ elemento.incidente.id }}</td>
                        <td class="text-center">
                            <a href="{% url 'empleado:ver_solucion' elemento.solucion.id %}">{{ elemento.solucion }}</a>
                        </td>
                        <td class="text-center">{{ elemento.hora }}</td>
                        <td class="text-center">{{ elemento.fecha }}</td>
                        <td class="text-center">
                            <strong>
                                {% if elemento.visto %}
                                    <button class="btn bgm-green btn-xs">
                                        <i class="zmdi zmdi-check"></i>
                                    </button>
                                {% else %}
                                    <button class="btn bgm-red btn-xs">
                                        <i class="zmdi zmdi-close"></i>
                                    </button>
                                {% endif %}
                            </strong>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

    {% if is_paginated %}
        {% include 'Main/paginator.html' %}
    {% endif %}

{% endblock %}