{% extends 'Main/base.html' %}

{% load staticfiles %}

{% block titulo %}
    <h2>Bienvenido al inicio!</h2>
{% endblock titulo %}

{% block contenido %}

    <h3>
        Hola <span class="usuario">{{ user.first_name }}</span> , da un breve vistazo a lo que esta sucediendo.
    </h3>

    <div class="row">
        <div class="col-sm-4 col-md-4">
            <div class="mini-charts-item bgm-cyan">
                <div class="clearfix">
                    <div class="chart stats-bar">
                        <div width="83" height="45"
                             style="display: inline-block; width: 83px; height: 45px; vertical-align: top;">

                        </div>
                    </div>
                    <div class="count">
                        <small>Incidentes sin solucionar</small>
                        <h2>{{ incidentes }}</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-md-4">
            <div class="mini-charts-item bgm-lightgreen">
                <div class="clearfix">
                    <div class="chart stats-bar-2">
                        <canvas width="83" height="45"
                                style="display: inline-block; width: 83px; height: 45px; vertical-align: top;"></canvas>
                    </div>
                    <div class="count">
                        <small>Elementos de configuracion</small>
                        <h2>{{ elementos }}</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-md-4">
            <div class="mini-charts-item bgm-orange">
                <div class="clearfix">
                    <div class="chart stats-line">
                        <canvas width="85" height="45"
                                style="display: inline-block; width: 85px; height: 45px; vertical-align: top;"></canvas>
                    </div>
                    <div class="count">
                        <small>Incidentes Solucionados</small>
                        <h2>{{ solucionados }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock contenido %}


{% block scripts %}
    <script src="{% static 'js/demo.js' %}"></script>
{% endblock %}