{% extends 'Main/base.html' %}

{% block contenido %}
    <div class="card">
        <div class="card-header">
            <h2>
                No se puede cerrar un incidente si no contiene
                al menos <strong>una solucion!</strong>
                <br>
                <button onclick="goBack()" class="btn bgm-teal pull-right waves-effect">
                    <i class="zmdi zmdi-arrow-left zmdi-hc-fw"></i> Volver
                </button>
            </h2>
        </div>
    </div>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
{% endblock %}