{% extends 'Main/base.html' %}

{% block contenido %}

    {% if incidentes %}
        <div class="card">
            <div class="card-header">
                <h2>
                    Lista de Incidentes
                    {% if elemento %}
                        del elemento de configuracion :
                        <br>
                        <strong style="color: blue">
                            {{ elemento }}
                        </strong>
                    {% endif %}
                </h2>
            </div>

            <div class="table-responsive">
                <table id="data-table-basic" class="table table-striped">
                    <thead>
                    <tr>
                        <th class="text-center">Ticket</th>
                        <th class="text-center">Prioridad</th>
                        <th class="text-center">Solucionado</th>
                        <th class="text-center">Elemento Afectado</th>
                        <th class="text-center">Categoria</th>
                        <th class="text-center">Hora</th>
                        <th class="text-center">Fecha</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for incidente in incidentes %}
                        <tr>
                            <td id="ticket_{{ incidente.id }}" class="text-center">
                                #{{ incidente.id }}
                            </td>
                            <td id="prioridad_{{ incidente.id }}" class="text-center">
                                {{ incidente.prioridad }}
                            </td>
                            <td id="cerrado_{{ incidente.id }}" class="text-center">
                                <strong>
                                    {% if incidente.cerrado %}
                                        <button class="btn bgm-green btn-xs">
                                            <i class="zmdi zmdi-check"></i>
                                        </button>
                                    {% else %}
                                        <button class="btn bgm-red btn-xs">
                                            <i class="zmdi zmdi-close"></i>
                                        </button>
                                    {% endif %}
                                </strong>
                            </td>
                            <td id="elemento_{{ incidente.id }}" class="text-center">
                                {{ incidente.elemento_afectado.producto.descripcion }}
                            </td>
                            <td id="categoria_{{ incidente.id }}" class="text-center">
                                {{ incidente.categoria }}
                            </td>
                            <td id="hora_{{ incidente.id }}" class="text-center">
                                {{ incidente.hora }}
                            </td>
                            <td id="fecha_{{ incidente.id }}" class="text-center">
                                {{ incidente.fecha }}
                            </td>
                            <td id="asunto_{{ incidente.id }}" class="hidden">
                                {{ incidente.asunto }}
                            </td>
                            <td id="descripcion_{{ incidente.id }}" class="hidden">
                                {{ incidente.descripcion }}
                            </td>
                            <td id="usuario_{{ incidente.id }}" class="hidden">
                                {{ incidente.elemento_afectado.usuario }}
                            </td>
                            <td id="serial_{{ incidente.id }}" class="hidden">
                                {{ incidente.elemento_afectado.serial }}
                            </td>
                            <td>
                                <a href="{% url 'soporte:solucion_incidente' incidente.id %}"
                                   class="btn bgm-purple btn-xs"
                                   data-toggle="tooltip" data-placement="top" title="Ver Soluciones">
                                    <i class="zmdi zmdi-eye"></i>
                                </a>
                                <a href="#myModal" data-toggle="modal" onshow="tooltip"
                                   onclick="GetDataModal({{ incidente.id }})"
                                   class="btn bgm-orange text-center btn-xs">
                                    <i class="zmdi zmdi-mail-send"></i>
                                </a>
                                {% if not incidente.cerrado and request.user.is_superuser %}
                                    <a href="{% url 'soporte:solucionar_incidente' incidente.id %}"
                                       class="btn bgm-green btn-xs"
                                       data-toggle="tooltip" data-placement="top" title="Solucionar">
                                        <i class="zmdi zmdi-check"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>

        <a href="{% url 'soporte:crear_incidente' %}"
           class="btn btn-float btn-success m-btn waves-effect waves-circle waves-float">
            <i class="zmdi zmdi-plus"></i>
        </a>

        {% if is_paginated %}
            {% include 'Main/paginator.html' %}
        {% endif %}

        <script>
            var url_id = '';
            function GetDataModal(id) {
                url_id = id;
                var prioridad = $('#prioridad_' + id).text();
                var cerrado = $('#cerrado_' + id).text();
                var elemento = $('#elemento_' + id).text();
                var categoria = $('#categoria_' + id).text();
                var hora = $('#hora_' + id).text();
                var fecha = $('#fecha_' + id).text();
                var asunto = $('#asunto_' + id).text();
                var descripcion = $('#descripcion_' + id).text();
                var usuario = $('#usuario_' + id).text();
                var serial = $('#serial_' + id).text()

                $("#elemento").text(elemento);
                $("#fecha").text(fecha);
                $("#hora").text(hora);
                $("#categoria").text(categoria);
                $("#asunto").text(asunto);
                $("#descripcion").text(descripcion);
                $('#usuario').text(usuario);
                $('#serial').text(serial)
            }

            function SolucionarProblema() {
                host = window.location.hostname
                route = "http://" + host + "/soporte/crear-solucion/" + url_id + "/";
                window.location.assign(route);
            }
        </script>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            Datos del incidente
                        </h4>
                    </div>
                    <div class="modal-body">

                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th class="text-center">Usuario</th>
                                <th class="text-center">Categoria</th>
                                <th class="text-center">Asunto</th>
                                <th class="text-center">Descripcion</th>
                                <th class="text-center">Serial</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-center">
                                    <span id="usuario"></span>
                                </td>
                                <td class="text-center">
                                    <span id="categoria"></span>
                                </td>
                                <td class="text-center">
                                    <span id="asunto"></span>
                                </td>
                                <td class="text-center">
                                    <span id="descripcion"></span>
                                </td>
                                <td class="text-center">
                                    <span id="serial"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <h4>Elemento afectado <br>
                            <span id="elemento" style="color: blue"></span></h4>
                        <h4>
                            hora : <span id="hora" style="color: blue"></span>
                            <br>
                            fecha : <span id="fecha" style="color: blue"></span>
                        </h4>
                    </div>
                    <div class="modal-footer">
                        <button class="btn bgm-deeporange waves-effect" data-dismiss="modal">
                            Cerrar
                        </button>

                        {% if user.is_superuser %}
                            <a onclick="SolucionarProblema()" class="btn bgm-lightgreen waves-effect">
                                Agregar una solucion
                            </a>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="card">
            <div class="card-header">
                <h2>
                    {% if incidentes_lista %}
                        No hay incidentes registrados hasta el momento
                    {% else %}
                        Este elemento de configuracion no tiene incidentes registrados
                    {% endif %}
                    <br>
                    <button onclick="goBack()" class="btn bgm-teal pull-right waves-effect">
                        <i class="zmdi zmdi-arrow-left zmdi-hc-fw"></i> Volver
                    </button>
                </h2>
            </div>
        </div>
    {% endif %}
    {% if incidentes_lista %}
        {% if user.is_superuser %}
            <a href="{% url 'soporte:crear_incidente' %}"
               class="btn btn-float bgm-indigo m-btn waves-effect waves-circle waves-float">
                <i class="zmdi zmdi-plus"></i>
            </a>
        {% else %}
            <a href="{% url 'empleado:crear_incidente' %}"
               class="btn btn-float bgm-indigo m-btn waves-effect waves-circle waves-float">
                <i class="zmdi zmdi-plus"></i>
            </a>
        {% endif %}
    {% else %}
        <a href="{% url 'soporte:incidente_elemento' elemento.id %}"
           class="btn btn-float bgm-blue m-btn waves-effect waves-circle waves-float">
            <i class="zmdi zmdi-plus"></i>
        </a>
    {% endif %}
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
{% endblock %}
