{% extends 'Main/base.html' %}

{% block contenido %}

    <div class="card">
        <div class="card-header">
            <h2>
                Lista de proveedores
            </h2>
        </div>

        <div class="table-responsive">
            <table id="data-table-basic" class="table table-striped">
                <thead>
                <tr>
                    <th class="text-center">
                        id
                    </th>
                    <th class="text-center">
                        nombre
                    </th>
                    <th class="text-center">
                        acciones
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for elemento in proveedores %}
                    <tr>
                        <td>{{ elemento.id }}</td>
                        <td>{{ elemento.nombre }}</td>
                        <td>
                            <a href="{% url 'soporte:editar_marca' elemento.id %}"
                               class="btn bgm-cyan waves-effect">
                                editar <i class="zmdi zmdi-pencil"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

    <a href="{% url 'soporte:crear_marca' %}"
       class="btn btn-float btn-success m-btn waves-effect waves-circle waves-float">
        <i class="zmdi zmdi-plus"></i>
    </a>

    {% if is_paginated %}
        {% include 'Main/paginator.html' %}
    {% endif %}

{% endblock %}