{% extends 'Main/base.html' %}

{% block contenido %}

    <div class="card">
        <div class="card-header">
            <h2>
                {% if soluciones.count > 0 %}
                    Soluciones del {{ incidente }} : {{ incidente.elemento_afectado }}
                    <br>
                    <strong style="color: darkslategrey">
                        este incidente cuenta con
                        <span style="color: coral">{{ soluciones.count }}</span>
                        {% if soluciones.count == 1 %}
                            solucion
                        {% else %}
                            soluciones
                        {% endif %}

                    </strong>
                {% else %}
                    El {{ incidente }}
                    <strong>
                        no tiene soluciones
                    </strong>
                    {% if user.is_superuser %}
                        <strong>
                            , desea crear una?
                        </strong>
                        <br><br>
                        <a href="{% url 'soporte:crear_solucion' incidente.id %}"
                           class="btn bgm-green waves-effect">
                            si, deseo crear una solucion para el {{ incidente }}
                        </a>
                        <button onclick="goBack()" class="btn bgm-orange waves-effect">
                            No, gracias
                        </button>
                    {% endif %}
                {% endif %}
            </h2>
        </div>

        {% if soluciones.count > 0 %}
            <div class="table-responsive">
                <table id="data-table-basic" class="table table-striped">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>Incidente</th>
                        <th>Elemento Afectado</th>
                        <th>Descripcion</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for elemento in soluciones %}
                        <tr>
                            <td>{{ elemento.id }}</td>
                            <td>{{ elemento.incidente }}</td>
                            <td>
                                {{ elemento.elemento_afectado.tipo }}
                                {{ elemento.elemento_afectado.descripcion }}
                            </td>
                            <td>{{ elemento.descripcion }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        {% endif %}

    </div>

    {% if request.user.is_superuser %}
        <a href="{% url 'soporte:crear_solucion' incidente.id %}" class="btn btn-float btn-success m-btn waves-effect waves-circle waves-float">
            <i class="zmdi zmdi-plus"></i>
        </a>
    {% endif %}

    {% if is_paginated %}
        {% include 'Main/paginator.html' %}
    {% endif %}

{% endblock %}